{
  "openapi": "3.1.0",
  "info": {
    "title": "Delta Registry — USPTO PTAB + EPO Opposition - Patent Dispute Delta API",
    "description": "Tracks USPTO PTAB patent-dispute proceedings (IPR/PGR/CBM/Derivation), plus an optional EPO opposition-watch module for a caller-supplied EP watchlist. Both sources are BYOK via free registration; delta mode flags new, updated, and concluded proceedings. PatentsView/WIPO out of scope.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.apify.com/v2"
    }
  ],
  "paths": {
    "/acts/fTvz8lwj3F1FrPQfM/runs": {
      "post": {
        "operationId": "startActor21PatentIpEnforcementMonitorRun",
        "summary": "Start an async run of: Tracks USPTO PTAB patent-dispute proceedings (IPR/PGR/CBM/Derivation), plus an optional EPO opposition-watch module for a caller-supplied EP watchlist. Both sources are BYOK via free registration; delta mode flags new, updated, and concluded proceedings. PatentsView/WIPO out of scope.",
        "x-async-pattern-reason": "No production run history exists for this actor — defaulting to the async run+poll pattern as a precaution, not a measurement. Re-run this generator once real telemetry exists to potentially switch it to sync.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sources": {
                    "type": "array",
                    "description": "uspto_ptab = real USPTO PTAB Trial proceedings (IPR/PGR/CBM/DER), newest-filed-first, via the USPTO Open Data Portal. epo_opposition = EPO Open Patent Services opposition-family legal-status watch for a caller-supplied list of EP publication numbers (epWatchlist). Both require the matching credential fields below (BYOK) -- see this actor's README/src/http.ts for the live-verified access requirements of each.",
                    "default": [
                      "uspto_ptab"
                    ],
                    "items": {
                      "type": "string",
                      "enum": [
                        "uspto_ptab",
                        "epo_opposition"
                      ]
                    },
                    "minItems": 1
                  },
                  "usptoOdpApiKey": {
                    "type": "string",
                    "description": "Required when sources includes uspto_ptab. Bring-your-own-key: obtain a free key from a USPTO.gov account (MFA required) at https://data.uspto.gov/myodp -- this actor never attempts to create that account on your behalf. Never logged or persisted beyond this run."
                  },
                  "epoOpsConsumerKey": {
                    "type": "string",
                    "description": "Required when sources includes epo_opposition. From a free developers.epo.org account + registered App (OAuth2 client-credentials flow). Never logged or persisted beyond this run."
                  },
                  "epoOpsConsumerSecret": {
                    "type": "string",
                    "description": "Paired with epoOpsConsumerKey. Never logged or persisted beyond this run."
                  },
                  "epWatchlist": {
                    "type": "array",
                    "description": "Required when sources includes epo_opposition -- EPO OPS has no bulk 'recent oppositions' search, only a per-publication-number legal-status lookup, so this actor is watchlist-driven for that source. Example: \"EP3000000\".",
                    "default": []
                  },
                  "trialTypeCodes": {
                    "type": "array",
                    "description": "Filters uspto_ptab results by trialMetaData.trialTypeCode. Leave empty for all four: Inter Partes Review (IPR), Post-Grant Review (PGR), Covered Business Method (CBM), Derivation (DER).",
                    "default": [],
                    "items": {
                      "type": "string",
                      "enum": [
                        "IPR",
                        "PGR",
                        "CBM",
                        "DER"
                      ]
                    }
                  },
                  "dateRange": {
                    "type": "string",
                    "description": "Optionally restricts uspto_ptab results to proceedings whose petitionFilingDate falls within this window (applied server-side as an ODP rangeFilter). Does not affect epo_opposition, which is watchlist-driven.",
                    "enum": [
                      "24h",
                      "7d",
                      "30d",
                      "90d"
                    ]
                  },
                  "maxItemsPerSource": {
                    "type": "integer",
                    "description": "Hard cap on how many records to return per selected source this run (applied independently to uspto_ptab and epo_opposition).",
                    "default": 100,
                    "minimum": 1
                  },
                  "onlyNew": {
                    "type": "boolean",
                    "description": "When enabled, persists seen record ids and a status fingerprint between runs (in this actor's own key-value store) and skips records whose status is unchanged since the prior run. A first-seen record is emitted as event_type SANCTION; a previously-seen record whose status/decision fields changed is emitted as UPDATED; a uspto_ptab record whose terminationDate newly became set since it was last seen is emitted as the more specific TERMINATED instead. Recommended for recurring monitoring.",
                    "default": false
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Run started. Poll GET /actor-runs/{runId} with the returned run id until status is SUCCEEDED, then fetch its dataset items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/actor-runs/{runId}": {
      "get": {
        "operationId": "getActor21PatentIpEnforcementMonitorRunStatus",
        "summary": "Poll the status of a previously started run.",
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current run status. When status is SUCCEEDED, fetch the dataset via GET /datasets/{datasetId}/items, passing this response's defaultDatasetId field as {datasetId}.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "defaultDatasetId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/datasets/{datasetId}/items": {
      "get": {
        "operationId": "getActor21PatentIpEnforcementMonitorDatasetItems",
        "summary": "Fetch the dataset items produced by a completed run.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of normalized records from the actor run.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                    "actorSpecification": 1,
                    "title": "Dataset Schema",
                    "fields": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "title": "Source",
                          "type": "string",
                          "description": "uspto_ptab or epo_opposition"
                        },
                        "trialNumber": {
                          "title": "PTAB Trial Number",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only, e.g. IPR2024-00123"
                        },
                        "trialTypeCode": {
                          "title": "Trial Type",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only: IPR / PGR / CBM / DER"
                        },
                        "trialStatusCategory": {
                          "title": "Trial Status",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "petitionFilingDate": {
                          "title": "Petition Filing Date",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "accordedFilingDate": {
                          "title": "Accorded Filing Date",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "institutionDecisionDate": {
                          "title": "Institution Decision Date",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "latestDecisionDate": {
                          "title": "Latest Decision Date",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "terminationDate": {
                          "title": "Termination Date",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "trialLastModifiedDateTime": {
                          "title": "Trial Last Modified",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "fileDownloadURI": {
                          "title": "Document Download URI",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "patentNumber": {
                          "title": "Challenged Patent Number",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "applicationNumberText": {
                          "title": "Application Number",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "patentOwnerName": {
                          "title": "Patent Owner Name",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "patentOwnerRealPartyInInterestName": {
                          "title": "Patent Owner Real Party in Interest",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "petitionerRealPartyInInterestName": {
                          "title": "Petitioner Real Party in Interest",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "petitionerCounselName": {
                          "title": "Petitioner Counsel",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "inventorName": {
                          "title": "Inventor Name",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "technologyCenterNumber": {
                          "title": "Technology Center",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "uspto_ptab only"
                        },
                        "publicationNumber": {
                          "title": "EP Publication Number",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "epo_opposition only"
                        },
                        "eventCode": {
                          "title": "Legal Event Code",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "epo_opposition only"
                        },
                        "eventDescription": {
                          "title": "Legal Event Description",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "epo_opposition only"
                        },
                        "eventDate": {
                          "title": "Legal Event Date",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "epo_opposition only"
                        },
                        "eventCountry": {
                          "title": "Legal Event Country",
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "epo_opposition only"
                        },
                        "record_id": {
                          "title": "Record ID",
                          "type": "string",
                          "description": "trialNumber (uspto_ptab) or a composed publicationNumber:eventCode:eventDate key (epo_opposition) - stable across runs"
                        },
                        "event_type": {
                          "title": "Event Type",
                          "type": "string",
                          "description": "SANCTION (first seen), UPDATED (status/decision changed since last run), TERMINATED (uspto_ptab only - the trial's terminationDate transitioned from unset to set since it was last seen, a more specific signal than a generic UPDATED), or SNAPSHOT_NO_DIFF (unchanged, re-emitted because onlyNew=false)"
                        },
                        "scraped_at": {
                          "title": "Scraped At",
                          "type": "string",
                          "description": "ISO-8601 timestamp of this extraction"
                        },
                        "is_new": {
                          "title": "Is New",
                          "type": "boolean",
                          "description": "true if not seen in a prior run (delta mode)"
                        },
                        "source_url": {
                          "title": "Source URL",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "recipient_or_defendant_name": {
                          "title": "Patent Owner / Defendant",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "entity_identifier_native": {
                          "title": "Native Entity Identifier",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "value_native": {
                          "title": "Value (native)",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "value_currency": {
                          "title": "Value Currency",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "value_usd_normalized": {
                          "title": "Value (USD)",
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "effective_date_iso": {
                          "title": "Effective Date",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "publish_date_iso": {
                          "title": "Publish Date",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "category_or_type": {
                          "title": "Category / Type",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status_or_estado": {
                          "title": "Status",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "awarding_or_regulating_agency": {
                          "title": "Regulating Agency",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "jurisdiction": {
                          "title": "Jurisdiction",
                          "type": "string",
                          "description": "US or EP"
                        },
                        "source_document_url": {
                          "title": "Source Document URL",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "reference_number": {
                          "title": "Reference Number",
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "views": {
                      "overview": {
                        "title": "Overview",
                        "transformation": {
                          "fields": [
                            "source",
                            "record_id",
                            "event_type",
                            "recipient_or_defendant_name",
                            "category_or_type",
                            "status_or_estado",
                            "effective_date_iso",
                            "jurisdiction",
                            "awarding_or_regulating_agency"
                          ]
                        },
                        "display": {
                          "component": "table",
                          "columns": [
                            {
                              "label": "Source",
                              "format": "text",
                              "field": "source"
                            },
                            {
                              "label": "Record ID",
                              "format": "text",
                              "field": "record_id"
                            },
                            {
                              "label": "Event Type",
                              "format": "text",
                              "field": "event_type"
                            },
                            {
                              "label": "Patent Owner / Defendant",
                              "format": "text",
                              "field": "recipient_or_defendant_name"
                            },
                            {
                              "label": "Category",
                              "format": "text",
                              "field": "category_or_type"
                            },
                            {
                              "label": "Status",
                              "format": "text",
                              "field": "status_or_estado"
                            },
                            {
                              "label": "Effective Date",
                              "format": "text",
                              "field": "effective_date_iso"
                            },
                            {
                              "label": "Jurisdiction",
                              "format": "text",
                              "field": "jurisdiction"
                            },
                            {
                              "label": "Agency",
                              "format": "text",
                              "field": "awarding_or_regulating_agency"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApifyBearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "ApifyBearerAuth": []
    }
  ]
}