{
  "openapi": "3.1.0",
  "info": {
    "title": "Delta Registry — SEC Enforcement & Litigation Release Delta Feed",
    "description": "Structures SEC.gov's own Litigation Releases and Administrative Proceedings feeds into delta events: respondent, statute/rule citations, monetary sanctions, and a best-effort linked EDGAR CIK. Outside the saturated 10-K/8-K/Form-4 filings-scraper niche. Pay-per-event: billed only for what changed.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.apify.com/v2"
    }
  ],
  "paths": {
    "/acts/EDhT9Mvrdm2hzTECA/runs": {
      "post": {
        "operationId": "startSecEnforcementLitigationDeltaFeedRun",
        "summary": "Start an async run of: Structures SEC.gov's own Litigation Releases and Administrative Proceedings feeds into delta events: respondent, statute/rule citations, monetary sanctions, and a best-effort linked EDGAR CIK. Outside the saturated 10-K/8-K/Form-4 filings-scraper niche. Pay-per-event: billed only for what changed.",
        "x-async-pattern-reason": "Real observed max runtime 186.2s exceeds the 35s safety margin under GPT Actions' 45s cap — using POST /runs + poll GET /actor-runs/{runId}.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sources": {
                    "type": "array",
                    "description": "Which of SEC.gov's own enforcement feeds to walk each run. 'Litigation Releases' are HTML pages under sec.gov/enforcement-litigation/litigation-releases/lr-NNNNN (RSS at .../litigation-releases/rss, live-verified). 'Administrative Proceedings' link directly to PDF orders under sec.gov/files/litigation/admin/YYYY/34-NNNNNN.pdf (RSS at .../administrative-proceedings/rss, live-verified) and require a separate PDF text-extraction pass.",
                    "default": [
                      "litigation_releases",
                      "administrative_proceedings"
                    ],
                    "items": {
                      "type": "string",
                      "enum": [
                        "litigation_releases",
                        "administrative_proceedings"
                      ]
                    }
                  },
                  "onlyNew": {
                    "type": "boolean",
                    "description": "When true (default), only NEW_LISTING and content-changed (UPDATED) records are pushed as charged events. Set false to also push free, uncharged SNAPSHOT_NO_DIFF records for every release the walk touches.",
                    "default": true
                  },
                  "maxItemsPerRun": {
                    "type": "integer",
                    "description": "Caps the number of charged (result/result-summary) events this run will push, independent of your Apify spending limit. 0 means no Actor-side cap.",
                    "default": 0,
                    "minimum": 0
                  },
                  "enableCikLinking": {
                    "type": "boolean",
                    "description": "When true (default), each parsed respondent name is looked up against SEC's own EDGAR company database (browse-edgar company search) to attach a linked_edgar_cik. A match scoring below cikMatchConfidenceThreshold is left null rather than guessed.",
                    "default": true
                  },
                  "cikMatchConfidenceThreshold": {
                    "type": "number",
                    "description": "Minimum name-match confidence (0-1) required before linked_edgar_cik is populated. Default 0.80 is deliberately conservative - a real respondent, 'Invesco Alpha Inc.', shares a name substring with the real, unrelated NYSE-listed Invesco Ltd, and a lower threshold would risk wrongly attaching a real public company's CIK to an unrelated enforcement action in your vendor-risk feed.",
                    "default": 0.8,
                    "minimum": 0.5
                  },
                  "watchlistNames": {
                    "type": "array",
                    "description": "Entity or individual names (case-insensitive substring match against parsed respondents) you specifically want flagged. A match sets is_watchlist_match: true.",
                    "default": []
                  },
                  "userAgent": {
                    "type": "string",
                    "description": "SEC's own fair-access policy (sec.gov/os/webmaster-faq#developers) requires automated requests to sec.gov/data.sec.gov to declare a descriptive User-Agent identifying the requester, typically '<Your Company Name> <your-contact-email>'. Sent verbatim on every request.",
                    "default": "DeltaRegistrySECMonitor/1.0 (+https://apify.com/stefano_seggio/sec-enforcement-litigation-delta-feed)"
                  },
                  "requestDelayMs": {
                    "type": "integer",
                    "description": "A flat delay applied between every successful request to sec.gov/data.sec.gov, independent of retries - a deliberately conservative default since this Actor's endpoints were live-verified for shape and availability only, not load-tested against SEC's general fair-access ceiling.",
                    "default": 750,
                    "minimum": 100
                  },
                  "maxRetries": {
                    "type": "integer",
                    "description": "Retry attempts for a 429/5xx response or a network-level failure before a request is treated as failed for this run. Exponential backoff (1000ms * 2^attempt, jittered, capped at 15s).",
                    "default": 4,
                    "minimum": 0
                  },
                  "requestTimeoutSecs": {
                    "type": "integer",
                    "description": "AbortSignal timeout applied to every individual HTTP request (feed page, release page, PDF download, EDGAR lookup).",
                    "default": 30,
                    "minimum": 5
                  },
                  "deltaStateName": {
                    "type": "string",
                    "description": "Names the Key-Value Store this schedule's seen-release state is kept in. Run two schedules - e.g. one full-coverage, one watchlist-only - without them draining each other's baseline by giving each a distinct name here.",
                    "default": "default"
                  },
                  "resetState": {
                    "type": "boolean",
                    "description": "When true, clears this schedule's stored seen-release state before walking, so the next run re-baselines from scratch. Use for testing or recovering a corrupted state store, not routine operation.",
                    "default": false
                  }
                },
                "required": [
                  "userAgent"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Run started. Poll GET /actor-runs/{runId} with the returned run id until status is SUCCEEDED, then fetch its dataset items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/actor-runs/{runId}": {
      "get": {
        "operationId": "getSecEnforcementLitigationDeltaFeedRunStatus",
        "summary": "Poll the status of a previously started run.",
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current run status. When status is SUCCEEDED, fetch the dataset via GET /datasets/{datasetId}/items, passing this response's defaultDatasetId field as {datasetId}.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "defaultDatasetId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/datasets/{datasetId}/items": {
      "get": {
        "operationId": "getSecEnforcementLitigationDeltaFeedDatasetItems",
        "summary": "Fetch the dataset items produced by a completed run.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of normalized records from the actor run.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "actorSpecification": 1,
                    "fields": {
                      "$schema": "http://json-schema.org/draft-07/schema#",
                      "title": "SEC Enforcement & Litigation Release Delta Feed record",
                      "type": "object",
                      "properties": {
                        "record_id": {
                          "type": "string",
                          "description": "The release/proceeding number (e.g. LR-26636, 34-106327) - SEC's own stable identity key."
                        },
                        "event_id": {
                          "type": "string"
                        },
                        "event_type": {
                          "type": "string",
                          "enum": [
                            "BASELINE_SNAPSHOT",
                            "NEW_LISTING",
                            "UPDATED",
                            "SNAPSHOT_NO_DIFF"
                          ]
                        },
                        "scraped_at": {
                          "type": "string"
                        },
                        "is_new": {
                          "type": "boolean"
                        },
                        "source_url": {
                          "type": "string"
                        },
                        "release_type": {
                          "type": "string",
                          "enum": [
                            "litigation_release",
                            "administrative_proceeding"
                          ]
                        },
                        "release_number": {
                          "type": "string"
                        },
                        "release_date": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "title": {
                          "type": "string"
                        },
                        "respondents": {
                          "type": "array"
                        },
                        "primary_respondent": {
                          "type": "string"
                        },
                        "court_or_forum": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "docket_or_case_number": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "statutes_or_rules_cited": {
                          "type": "array"
                        },
                        "sanction_status": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "enum": [
                            "sought",
                            "ordered",
                            null
                          ]
                        },
                        "monetary_sanctions": {
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "linked_edgar_cik": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "edgar_company_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "edgar_former_names": {
                          "type": [
                            "array",
                            "null"
                          ]
                        },
                        "cik_match_confidence": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "description": "Illustrative of the intended scoring approach where computed; not a claim of a legally-verified identity match."
                        },
                        "cik_match_method": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "cik_match_reason": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "summary_text": {
                          "type": "string"
                        },
                        "is_watchlist_match": {
                          "type": "boolean"
                        },
                        "changed_fields": {
                          "type": [
                            "array",
                            "null"
                          ]
                        },
                        "content_fingerprint": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "record_id",
                        "event_id",
                        "event_type",
                        "scraped_at",
                        "is_new",
                        "source_url",
                        "release_type",
                        "release_number",
                        "title",
                        "content_fingerprint"
                      ]
                    },
                    "views": {
                      "overview": {
                        "title": "Overview",
                        "description": "One row per delta event, most recent first.",
                        "transformation": {
                          "fields": [
                            "release_number",
                            "title",
                            "event_type",
                            "release_date",
                            "primary_respondent",
                            "sanction_status",
                            "monetary_sanctions",
                            "linked_edgar_cik",
                            "source_url"
                          ]
                        },
                        "display": {
                          "component": "table",
                          "properties": {
                            "release_number": {
                              "label": "Release #",
                              "format": "text"
                            },
                            "title": {
                              "label": "Title",
                              "format": "text"
                            },
                            "event_type": {
                              "label": "Event",
                              "format": "text"
                            },
                            "release_date": {
                              "label": "Date",
                              "format": "date"
                            },
                            "primary_respondent": {
                              "label": "Respondent",
                              "format": "text"
                            },
                            "sanction_status": {
                              "label": "Sanction status",
                              "format": "text"
                            },
                            "monetary_sanctions": {
                              "label": "Sanctions",
                              "format": "object"
                            },
                            "linked_edgar_cik": {
                              "label": "EDGAR CIK",
                              "format": "text"
                            },
                            "source_url": {
                              "label": "Source",
                              "format": "link"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApifyBearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "ApifyBearerAuth": []
    }
  ]
}