{
  "openapi": "3.1.0",
  "info": {
    "title": "Delta Registry — EU TED Procurement Delta Monitor - Tenders, Awards & CPV Alerts",
    "description": "Delta-tracks EU public procurement notices - new tenders, contract awards, and status changes - across all 27 EU member states via TED's official public Search API. Genuine field-level change detection: unchanged notices are never re-billed. CPV-code filtering, buyer/winner tracking. Pay-per-event.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.apify.com/v2"
    }
  ],
  "paths": {
    "/acts/Zxy0w0zjmUoMzacF9/runs": {
      "post": {
        "operationId": "startEuTedProcurementDeltaMonitorRun",
        "summary": "Start an async run of: Delta-tracks EU public procurement notices - new tenders, contract awards, and status changes - across all 27 EU member states via TED's official public Search API. Genuine field-level change detection: unchanged notices are never re-billed. CPV-code filtering, buyer/winner tracking. Pay-per-event.",
        "x-async-pattern-reason": "Real observed max runtime 429.2s exceeds the 35s safety margin under GPT Actions' 45s cap — using POST /runs + poll GET /actor-runs/{runId}.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operationMode": {
                    "type": "string",
                    "description": "INCREMENTAL (default): real production run using TED's pagination mode (fast, bounded by 'Max items'), against the default broad, live-verified query below - this default is intentionally a genuine data-fetching mode, not VALIDATE_QUERY, so that a default/unattended run (including Apify's own daily automated health-check) always exercises real functionality and produces real output rather than a no-op. VALIDATE_QUERY: sends your 'Expert search query' to TED's real, free checkQuerySyntax pre-flight and reports whether it is valid - no notices are fetched, nothing is pushed, nothing is charged; switch to this manually while drafting a new query. BACKFILL: a full historical pull using TED's ...",
                    "default": "INCREMENTAL",
                    "enum": [
                      "INCREMENTAL",
                      "VALIDATE_QUERY",
                      "BACKFILL"
                    ]
                  },
                  "expertQuery": {
                    "type": "string",
                    "description": "TED's own 'expert search' query string - the exact same syntax and query text used on TED's public Expert Search page (https://ted.europa.eu/en/search/expert-search). This is the ONLY filtering mechanism TED's Search API exposes; there is no separate country/CPV/value input on this actor because there is no separate one on TED's own API - build and validate your query on the Expert Search page (or via this actor's VALIDATE_QUERY mode, which calls TED's own free checkQuerySyntax check), then paste the finished query string here. The default below uses TED's own genuine server-side relative-date function, `today([+-]N)` - recovered directly from TED's own query-validator error message and c...",
                    "default": "publication-date >= today(-14) AND classification-cpv = 72*"
                  },
                  "fields": {
                    "type": "array",
                    "description": "Which TED notice fields to retrieve per result, using TED's own eForms field IDs. This curated list covers the fields a procurement-intelligence buyer actually tracks (identity, buyer, value, CPV classification, deadline, winner). TED's own API rejects an empty fields array outright, and this actor always tracks notices by 'notice-identifier' internally regardless of your selection here (it's automatically included in every real request even if left unchecked) - so at least one other field should stay selected for the output to carry any actual content. TED exposes several hundred additional fields (the full eForms Business Term taxonomy) not listed here for usability - see TED's Search A...",
                    "default": [
                      "notice-identifier",
                      "publication-number",
                      "publication-date",
                      "notice-title",
                      "buyer-name",
                      "organisation-name-buyer",
                      "organisation-country-buyer",
                      "classification-cpv",
                      "deadline-receipt-tender-date-lot",
                      "procedure-type",
                      "estimated-value-lot",
                      "estimated-value-cur-lot",
                      "result-value-lot",
                      "result-value-notice",
                      "result-value-cur-notice",
                      "winner-identifier",
                      "winner-country",
                      "winner-size",
                      "links"
                    ],
                    "items": {
                      "type": "string",
                      "enum": [
                        "notice-identifier",
                        "publication-number",
                        "publication-date",
                        "notice-title",
                        "notice-type",
                        "buyer-name",
                        "organisation-name-buyer",
                        "organisation-country-buyer",
                        "classification-cpv",
                        "deadline-receipt-tender-date-lot",
                        "procedure-type",
                        "legal-basis",
                        "estimated-value-lot",
                        "estimated-value-cur-lot",
                        "result-value-lot",
                        "result-value-notice",
                        "result-value-cur-notice",
                        "winner-identifier",
                        "winner-country",
                        "winner-size",
                        "links"
                      ]
                    },
                    "minItems": 1
                  },
                  "scope": {
                    "type": "string",
                    "description": "LATEST: only notices from the current OJ S release. ACTIVE: only currently-open notices. ALL (TED's own default, and this actor's default): every notice matching the query regardless of age or status.",
                    "default": "ALL",
                    "enum": [
                      "LATEST",
                      "ACTIVE",
                      "ALL"
                    ]
                  },
                  "onlyLatestVersions": {
                    "type": "boolean",
                    "description": "When true, corrigenda/amendments are collapsed to only the latest version of each notice. When false (TED's own default), every published version is returned as its own entry - recommended if you want to observe corrections as their own delta events.",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Notices requested per call to TED's Search API. TED's own hard cap is 250 per page (and page-size x field-count must stay under 10,000). Lower this if you request many fields at once.",
                    "default": 50,
                    "minimum": 1
                  },
                  "maxItems": {
                    "type": "integer",
                    "description": "Stops the run once this many changed/new records have been pushed (and charged, where applicable) - this actor's own safety valve, independent of TED's own per-query caps (15,000 for INCREMENTAL's pagination mode; uncapped for BACKFILL's iteration mode). Records not yet reached when the limit is hit are simply re-evaluated fresh next run. Defaults to 50 so a default/test run completes in well under Apify's automated-test window.",
                    "default": 50,
                    "minimum": 1
                  },
                  "deltaStateName": {
                    "type": "string",
                    "description": "Names the persistent Key-Value Store this run's delta memory (fingerprints, and for BACKFILL the ITERATION scroll token) lives in. Use a distinct name per independent schedule/query so they don't share baseline progress. Leave as 'default' for a single schedule.",
                    "default": "default"
                  },
                  "resetState": {
                    "type": "boolean",
                    "description": "When true, ignores all previously-remembered notices for this deltaStateName and re-baselines from scratch (every notice becomes a fresh, uncharged BASELINE_SNAPSHOT again). Use only to deliberately restart monitoring.",
                    "default": false
                  },
                  "onlyNew": {
                    "type": "boolean",
                    "description": "When true (recommended, and the only free-of-charge default), only NEW_NOTICE and NOTICE_UPDATED events are delivered - never a snapshot of an unchanged notice or a first-run baseline. When false, every matched notice is delivered every run, including BASELINE_SNAPSHOT (first run) and NOTICE_UNCHANGED rows - useful for a full audit/export, but delivers every matched notice uncharged on a first BACKFILL run rather than just the ones worth tracking.",
                    "default": true
                  },
                  "webhookUrl": {
                    "type": "string",
                    "description": "A Slack Incoming Webhook URL, or any HTTPS endpoint that accepts a JSON POST (e.g. a Make/n8n/Zapier catch-hook), to receive a formatted alert the moment a notice's status-tier fields change (award value, winner identity, or procedure status) - the change class a procurement-BD or compliance team actually escalates on. Independent of, and does not replace, Apify's own platform-level webhook system configurable separately in the Apify Console."
                  }
                },
                "required": [
                  "expertQuery"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Run started. Poll GET /actor-runs/{runId} with the returned run id until status is SUCCEEDED, then fetch its dataset items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/actor-runs/{runId}": {
      "get": {
        "operationId": "getEuTedProcurementDeltaMonitorRunStatus",
        "summary": "Poll the status of a previously started run.",
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current run status. When status is SUCCEEDED, fetch the dataset via GET /datasets/{datasetId}/items, passing this response's defaultDatasetId field as {datasetId}.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "defaultDatasetId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/datasets/{datasetId}/items": {
      "get": {
        "operationId": "getEuTedProcurementDeltaMonitorDatasetItems",
        "summary": "Fetch the dataset items produced by a completed run.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of normalized records from the actor run.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "actorSpecification": 1,
                    "fields": {
                      "$schema": "http://json-schema.org/draft-07/schema#",
                      "type": "object",
                      "required": [
                        "event_type",
                        "record_id",
                        "notice_identifier",
                        "scraped_at"
                      ],
                      "properties": {
                        "@type": {
                          "type": "string",
                          "enum": [
                            "schema:GovernmentPermit"
                          ]
                        },
                        "event_id": {
                          "type": "string"
                        },
                        "event_type": {
                          "type": "string",
                          "enum": [
                            "NEW_NOTICE",
                            "NOTICE_UPDATED",
                            "NOTICE_UNCHANGED",
                            "BASELINE_SNAPSHOT"
                          ]
                        },
                        "record_id": {
                          "type": "string"
                        },
                        "notice_identifier": {
                          "type": "string"
                        },
                        "publication_number": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "publication_date": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "notice_title": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "buyer_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "buyer_country": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "cpv_codes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "submission_deadline": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "procedure_type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "estimated_value": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "estimated_value_currency": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "awarded_value": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "awarded_value_currency": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "winner_identifier": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "winner_country": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "winner_size": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "changed_fields": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "status_fingerprint": {
                          "type": "string"
                        },
                        "content_fingerprint": {
                          "type": "string"
                        },
                        "is_new": {
                          "type": "boolean"
                        },
                        "source_url": {
                          "type": "string"
                        },
                        "scraped_at": {
                          "type": "string"
                        }
                      }
                    },
                    "views": {
                      "overview": {
                        "title": "Overview",
                        "transformation": {
                          "fields": [
                            "event_type",
                            "notice_identifier",
                            "notice_title",
                            "buyer_name",
                            "buyer_country",
                            "awarded_value",
                            "awarded_value_currency",
                            "winner_identifier",
                            "scraped_at"
                          ]
                        },
                        "display": {
                          "component": "table"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApifyBearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "ApifyBearerAuth": []
    }
  ]
}